<%= render 'shared/errors', obj: @article %>

<%= form_for @article do |f| %>

    <div class="form-group row">
        <%= f.label :title, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control" %>    
        </div>
    </div>

    <div class="form-group row">
        <%= f.label :description, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control", rows: 10 %>    
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                <% cb.label(class: "checkbox-inline input_checkbox") {
                    cb.check_box(class: "checkbox") + cb.text
                } %>
            <% end %>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>

<div class="mt-3 text-center">
    [ <%= link_to "Cancel request and return to articles", articles_path %> ]
</div>